include *.ini
include *.txt
include *.rst
include *.py
include *.json
include *.sh
include MANIFEST.in
exclude spud/version.py
exclude spud/static/js/*.js
recursive-include conf *.conf
recursive-include conf *.py
recursive-include conf *.wsgi
recursive-include spud *.ts
recursive-include contrib *.txt
recursive-include bin *
recursive-include experimental *
