[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
django-pipeline = "*"
djangorestframework = "*"
python-dateutil = "*"
pluggy = "*"
six = "*"
pytz = "*"
cssmin = "*"
slimit = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
gunicorn = "*"
Django = "*"
Pillow = "*"
requests = "*"

[dev-packages]
pluggy = "*"
isort = "*"
"flake8" = "*"
mock = "*"
pytest = "*"
pytest-bdd = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-runner = "*"
tox = "*"
mypy = "*"

[requires]
python_version = "3.7"
