[project]
	description = SPUD is a database for storing photos. Photos can be indexed by date&time, albums, people, categories, locations and other information. For example, this enables quickly finding all photos of a particular person at a particular location at a particular location.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Brian May (brianmay)
[access "refs/for/refs/*"]
	read = group user/Brian May (brianmay)
	push = group user/Brian May (brianmay)
	label-Code-Review = -2..+2 group user/Brian May (brianmay)
	label-Verified = -1..+1 group user/Brian May (brianmay)
	rebase = group user/Brian May (brianmay)
	removeReviewer = group user/Brian May (brianmay)
	submit = group user/Brian May (brianmay)
[access "refs/heads/*"]
	read = group user/Brian May (brianmay)
	create = group user/Brian May (brianmay)
	push = +force group user/Brian May (brianmay)
	pushMerge = group user/Brian May (brianmay)
[access "refs/tags/*"]
	push = +force group user/Brian May (brianmay)
	pushTag = group user/Brian May (brianmay)
	pushSignedTag = group user/Brian May (brianmay)
