setuptools_scm==1.15.0
django-pipeline==1.6.11
djangorestframework==3.3.3
python-dateutil==2.6.0
Pillow==4.0.0
six==1.10.0
pytz==2016.10
cssmin==0.2.0
slimit==0.8.1
django-cors-headers==2.0.2
django-environ==0.4.1
