body { margin:0; padding:0; font-size:11px; font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; color:#333; background:#fff; }

.ui-autocomplete-input { width:99%; }
.ui-autocomplete { overflow-x:hidden; overflow-y:auto; max-height:500px; max-width:340px; }
ul.ui-autocomplete { z-index: 200; }

.ui-corner-all { padding-top:4px; padding-bottom:4px; }
.ui-corner-all img { float:left; }
.ui-corner-all .title { margin-left:140px; font-weight:bold; }
.ui-corner-all .desc { margin-left:140px; }

.photo_ { }
.photo-D { background:#EEDDDD; color:#333333; }
.photo-R { background:#DDDDEE; color:#333333; }
.photo-K { background:#DDEEDD; color:#333333; }
.photo-selected { background: #DDDDDD; }

.photo_item { border:1px solid #dddddd; }
.photo_item.ui-selecting { background: #FECA40; }
.photo_item.ui-selected { background: #F39814; }

.photo_article { border:1px solid #dddddd; }

.photo_block { display:inline-block; vertical-align:top; padding:10px; width:200px; min-height:420px; } 
.photo_block { border:1px solid #777777; margin:5px; }
.photo_block h2 { margin:0 0 .5em 0; }
.photo_block ul  { padding-left: 20px; }
.photo_block label { display:block; font-weight:bold; margin-top:4px; }
.photo_block input[type="text"] { width:192px; }
.photo_block textarea { width:192px; }
.photo_block select { width:100%; }

.photo_image_block { width:auto; }
.photo_image_block .title { font-weight:bold; }

/* Photo list */

.photo_list { border:1px solid #333; margin-bottom: 10px; }
.photo_list .title { font-weight:bold; }
.photo_list .photo_item { display:inline-block; vertical-align:top; height:150px; margin:10px; padding-top:10px; text-align: center; width:170px; }
.photo_list .photo_item .desc { float:left; display:none; text-align:left; }
.photo_list .photo_item:HOVER { border:1px solid #000; }
.photo_list .photo_item:HOVER .desc { display:inline; background:#ddd; color:#000; border:1px solid #000; position:relative; left:-25px; top:0px; z-index:100; width:200px; padding:10px; }

/* PAGINATOR */
.paginator { padding:10px; line-height:22px; margin:0; solid #ddd; }
.paginator a { padding:2px 6px; border:solid 1px #ccc; }
.paginator a:link, .paginator a:visited { text-decoration:none; }
.paginator a.showall { padding:0 !important; border:none !important; }
.paginator a.showall:hover { color:#036 !important; background:transparent !important; }
.paginator .end { border-width:2px !important; margin-right:6px; }
.paginator .this-page { padding:2px 6px; font-weight:bold; vertical-align:top; }
.paginator a:hover { color:white; background:#5b80b2; border-color:#036; }

/* Children list */
.infobox { border:1px solid #dddddd; padding:10px; margin-bottom:10px; }
.infobox dl { margin-right: 10px; max-width:500px; }
.infobox dt { clear:left; float:left; width:20%; margin:0; padding:5px; border-top: 1px solid #999; font-weight: bold; }
.infobox dd { float:left; width: 70%; margin: 0; padding: 5px; border-top: 1px solid #999; }

.children { border:1px solid #f00; }

/* LINKS */
a:link, a:visited { color: #5b80b2; text-decoration:none; }
a:hover { color: #036; }
a img { border:none; }
a.section:link, a.section:visited { color: white; text-decoration:none; }

/* GLOBAL DEFAULTS */
p, ol, ul, dl { margin:.2em 0 .8em 0; }

h1,h2,h3,h4,h5 { font-weight:bold; }
h1 { font-size:180%; color:#666; padding:0 6px 0 0; margin:0 0 .2em 0; }
h2 { font-size:160%; margin:1em 0 .5em 0; }
h2.subhead { font-weight:normal;margin-top:0; }
h3 { font-size:140%; margin:.8em 0 .3em 0; color:#666; font-weight:bold; }
h4 { font-size:120%; margin:1em 0 .8em 0; padding-bottom:3px; }
h5 { font-size:100%; margin:1.5em 0 .5em 0; color:#666; text-transform:uppercase; letter-spacing:1px; }

ul li { list-style-type:square; padding:1px 0; }
ul.plainlist { margin-left:0 !important; }
ul.plainlist li { list-style-type:none; }
li ul { margin-bottom:0; }
dt { font-weight:bold; margin-top:4px; }
dd { margin-left:0; }

form { margin:0; padding:0; }
fieldset { margin:0; padding:0; }

blockquote { color:#777; margin-left:2px; padding-left:10px; border-left:5px solid #ddd; }
code, pre { font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace; background:inherit; color:#666; }
pre.literal-block { margin:10px; background:#eee; padding:6px 8px; }
code strong { color:#930; }
hr { clear:both; color:#eee; background-color:#eee; height:1px; border:none; margin:0; padding:0; font-size:1px; line-height:1px; }

/* TEXT STYLES & MODIFIERS */
.small { font-size:11px; }
.tiny { font-size:10px; }
p.tiny { margin-top:-2px; }
.mini { font-size:9px; }
p.mini { margin-top:-3px; }
.help, p.help { color:#999; }
p img, h1 img, h2 img, h3 img, h4 img, td img { vertical-align:middle; }
.quiet, a.quiet:link, a.quiet:visited { color:#999 !important;font-weight:normal !important; }
.quiet strong { font-weight:bold !important; }
.float-right { float:right; }
.float-left { float:left; }
.clear { clear:both; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.example { margin:10px 0; padding:5px 10px; background:#efefef; }
.nowrap { white-space:nowrap; }

/* TABLES */
table { border-collapse:collapse; border-color:#ccc; }
td, th { border-bottom:1px solid #eee; vertical-align:top; padding:5px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }
th { text-align:left; font-weight:bold; }
thead th, 
tfoot td { color:#666; padding:2px 5px; background:#e1e1e1 url(../img/admin/nav-bg.gif) top left repeat-x; border-left:1px solid #ddd; border-bottom:1px solid #ddd; }
tfoot td { border-bottom:none; border-top:1px solid #ddd; }
thead th:first-child, 
tfoot td:first-child { border-left:none !important; }
thead th.optional { font-weight:normal !important; }
fieldset table { border-right:1px solid #eee; }
tr.row-label td { padding-top:2px; padding-bottom:0; border-bottom:none; color:#666; margin-top:-1px; }
tr.alt { background:#f6f6f6; }
.row1 { background:#EDF3FE; }
.row2 { background:white; }

/* SORTABLE TABLES */
thead th a:link, thead th a:visited { color:#666; display:block; }
table thead th.sorted { background-position:bottom left !important; }
table thead th.sorted a { padding-right:13px; }
table thead th.asc a { background:url(../img/admin/arrow-down.gif) right .4em no-repeat; padding-right:16px;}
table thead th.desc a { background:url(../img/admin/arrow-up.gif) right .4em no-repeat; padding-right:16px;}

/* ORDERABLE TABLES */
table.orderable tbody tr td:hover { cursor:move; }
table.orderable tbody tr td:first-child { padding-left:14px; background-image:url(../img/admin/nav-bg-grabber.gif); background-repeat:repeat-y; }
table.orderable-initalized .order-cell, body>tr>td.order-cell { display:none; }

/* FORM DEFAULTS */
put, textarea, select { margin:2px 0; padding:2px 3px; vertical-align:middle; font-family:"Lucida Grande", Verdana, Arial, sans-serif; font-weight:normal; font-size:11px; }
textarea { vertical-align:top !important; }
input[type=text], input[type=password], textarea, select, .vTextField { border:1px solid #ccc; }

/*  FORM BUTTONS  */
.button, input[type=submit], input[type=button], .submit-row input { background:white url(../img/admin/nav-bg.gif) bottom repeat-x; padding:3px; color:black; border:1px solid #bbb; border-color:#ddd #aaa #aaa #ddd; }
.button:active, input[type=submit]:active, input[type=button]:active { background-image:url(../img/admin/nav-bg-reverse.gif); background-position:top; }
.button.default, input[type=submit].default, .submit-row input.default { border:2px solid #5b80b2; background:#7CA0C7 url(../img/admin/default-bg.gif) bottom repeat-x; font-weight:bold; color:white; float:right; }
.button.default:active, input[type=submit].default:active { background-image:url(../img/admin/default-bg-reverse.gif); background-position:top; }

/* MODULES */
.module { border:1px solid #ccc; margin:5px; background:white; }
.module p, .module ul, .module h3, .module h4, .module dl, .module pre { padding-left:10px; padding-right:10px; }
.module blockquote { margin-left:12px; }
.module ul, .module ol { margin-left:1.5em; }
.module h3 { margin-top:.6em; }
.module h2, .module caption, .inline-group h2 { margin:0; padding:2px 5px 3px 5px; text-align:left; font-weight:bold; background:#7CA0C7 url(../img/admin/default-bg.gif) top left repeat-x; color:white; }
.module table { border-collapse: collapse; }

/* MESSAGES & ERRORS */
ul.messagelist { padding:0 0 5px 0; margin:0; }
ul.messagelist li { display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border-bottom:1px solid #ddd; color:#666; background:#ffc url(../img/admin/icon_success.gif) 5px .3em no-repeat; }
.errornote { display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:red;background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
ul.errorlist { margin:0 !important; padding:0 !important; }
.errorlist li { display:block; padding:4px 5px 4px 25px; margin:0 0 3px 0; border:1px solid red; color:white; background:red url(../img/admin/icon_alert.gif) 5px .3em no-repeat; }
td ul.errorlist { margin:0 !important; padding:0 !important; }
td ul.errorlist li { margin:0 !important; }
.errors { background:#ffc; }
.errors input, .errors select { border:1px solid red; }
div.system-message { background: #ffc; margin: 10px; padding: 6px 8px; }
div.system-message p.system-message-title { padding:4px 5px 4px 25px; margin:0; color:red; background:#ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat; }
.description { padding:5px 0 0 12px; }

/* BREADCRUMBS */
div.breadcrumbs { background:white url(../img/admin/nav-bg-reverse.gif) 0 -10px repeat-x; padding:2px 8px 3px 8px; color:#999;  border-top:1px solid white; border-bottom:1px solid #ccc; text-align:left; }

/* ACTION ICONS */
.linklink { }
.addlink { padding-left:12px; background:url(../img/admin/icon_addlink.gif) 0 .2em no-repeat; }
.changelink { padding-left:12px; background:url(../img/admin/icon_changelink.gif) 0 .2em no-repeat; }
.deletelink { padding-left:12px; background:url(../img/admin/icon_deletelink.gif) 0 .25em no-repeat; }
a.deletelink:link, a.deletelink:visited { color:#CC3434; }
a.deletelink:hover { color:#993333; }

/* OBJECT TOOLS */
.object-tools { font-weight:bold; font-family:Arial,Helvetica,sans-serif; padding-left:0; float:right; position:relative; margin-top:-2.4em; margin-bottom:-2em; }
.form-row .object-tools { margin-top:5px; margin-bottom:5px; float:none; height:2em; padding-left:3.5em; }
.object-tools li { display:block; float:left; background:url(../img/admin/tool-left.gif) 0 0 no-repeat; padding:0 0 0 8px; margin-left:2px; height:16px; }
.object-tools li:hover { background:url(../img/admin/tool-left_over.gif) 0 0 no-repeat; }
.object-tools a:link, .object-tools a:visited { display:block; float:left; color:white; padding:.1em 14px .1em 8px; height:14px; background:#999 url(../img/admin/tool-right.gif) 100% 0 no-repeat; }
.object-tools a:hover, .object-tools li:hover a { background:#5b80b2 url(../img/admin/tool-right_over.gif) 100% 0 no-repeat; }
.object-tools a.viewsitelink, .object-tools a.golink { background:#999 url(../img/admin/tooltag-arrowright.gif) top right no-repeat; padding-right:28px; }
.object-tools a.viewsitelink:hover, .object-tools a.golink:hover { background:#5b80b2 url(../img/admin/tooltag-arrowright_over.gif) top right no-repeat; }
.object-tools a.addlink { background:#999 url(../img/admin/tooltag-add.gif) top right no-repeat; padding-right:28px; }
.object-tools a.addlink:hover { background:#5b80b2 url(../img/admin/tooltag-add_over.gif) top right no-repeat; }

/* OBJECT HISTORY */
table#change-history { width:100%; }
table#change-history tbody th { width:16em; }

/* SLIDE SHOW */
.slideshow {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.slideshow .photo {
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    color: #aaa;
}

.overlapped h2 {
    display: none;
}

#content-related.overlapped {
    position: absolute;
    top: 10px;
    display: block;
    color: #aaa;
    background: url('../img/bg-black.png');
}

.overlapped .module {
    background: transparent;
}

.prevslide, .nextslide{ position:absolute; height:43px; width:43px; top:50%; margin-top:-21px; opacity:0.6; }
.prevslide{ left:10px; background:url('../img/back.png'); }
.nextslide{ right:10px; background:url('../img/forward.png'); }
.prevslide:active, .nextslide:active{ margin-top:-19px; }
.prevslide:hover, .nextslide:hover{ cursor:pointer; }

label { font-weight:normal; color:#666; font-size:12px; }
.required label, label.required { font-weight:bold; color:#333; }

@media screen and (max-width: 700px) {
.menu { padding:0 10px; margin:0; }
.menu li { list-style:none; border-top: 1px solid #777; padding: 20px 0; margin: 0; }
.menu li:active { border: 1px solid #000; }
.photo_container { border:none; }
.photo_block { border:none; min-height:0; margin:0; }
.photo_detail_photo { padding:0; }
#header { display:none; }
.breadcrumbs { display:none; }
.object-tools { display:none; }
#content h1 { display:none; }
.paginator { line-height:42px; }
.paginator a.relative { display:inline; }
.paginator a, .paginator span { padding:12px 16px; display:none; }

