Source: spud
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=7.0.0), python (>= 2.4), python-support (>= 0.6), cdbs (>= 0.4.49)
Standards-Version: 3.9.2

Package: spud
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-django (>= 1.2.1), python-django-south (>= 0.7), django-ajax-selects (>= 1.2.3), django-tables (>= 0.9.4), libjs-jquery, libjs-jquery-ui, python-tz, python-pyexiv2, python-pyparsing, python-imaging, django-webs (>= 0.7)
Recommends: libapache2-mod-wsgi
Suggests: python-mysqldb
Description: Sortable Photo album Using a Django based database.
 Implements tracking photos by exif information, location, categories, and
 people.
