Source: spud
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=8.1.0), dh-python, libjs-jquery, libjs-jquery-ui,
 python-all (>= 2.6.6-3~), python-setuptools, python-six, python-flake8,
 python-ajax-select, python-dateutil, python-pil, python-tz, python-django,
 python-django-pipeline, python-djangorestframework,
 cssmin, slimit,
Homepage: https://github.com/brianmay/spud
Standards-Version: 3.9.6
X-Python-Version: >= 2.7

Package: spud
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 libapache2-mod-wsgi | httpd-wsgi,
 apache2 | httpd,
 libimage-exiftool-perl, libav-tools,
 libjs-jquery,
Recommends: dcraw
Suggests: python-psycopg2 | python-mysqldb | python-mysql.connector
Description: Sortable Photo album Using a Django based database
 A database for photos and videos. Search photos by exif information, albums,
 place, categories, and people. Uses static files for all media contacts.
 Postgres is recommended, although any database supported by Django should work.
