{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}action: {{ object }}{% endblock %}

{% block content %}
<h1>Action: {{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% show_view_buttons web user object %}


{% show_photo_list page_obj web object %}

{% pagination page_obj web %}

{% endblock %}
