{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{object}}{% endblock %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block content %}
<h1>{{object}} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% show_view_buttons web user object %}

{% if object.album_description %}<p>{{object.album_description|urlizetrunc:40|linebreaks}}</p>{% endif %}

{%ifequal page_obj.number 1 %}
{% if object.children.all %}
<div class="children">
    <ul class="photo_list">
    {% for album in object.children.all %}
        <li class='photo_list_item' onClick='parent.location="{% get_view_url album %}"'>
            <a href="{% get_view_url album %}">
                {% with album.get_cover_photo as photo %}{% if photo %}<img src='{% get_thumb_url photo "thumb" %}' alt=''/><br/>{% endif %}{% endwith %}
                <div class='title'>{{ album }}</div>
            </a>
            {% if album.sortname %}<div class='sort'>({{album.sortname}} {{album.sortorder}})</div>{% endif %}
            {% if album.album_description %}<div class='desc' onClick='parent.location="{% get_view_url album %}"'>{{album.album_description|urlizetrunc:20}}</div>{% endif %}
        </li>
    {% endfor %}
    <br class="clear"/>
    </ul>
</div>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj web object %}

{% pagination page_obj web %}

<h2>Search</h2>

<form method="post">{% csrf_token %}
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>

{% endblock %}
