{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load photo %}
{% load webs %}

{% block title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}
{% block object_title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}

{% block object %}
{% if object.album_description %}<p>{{object.album_description|urlizetrunc:40|linebreaks}}</p>{% endif %}

{%ifequal page_obj.number 1 %}
{% if object.children.all %}
<div class="children">
    <ul class="photo_list">
    {% for album in object.children.all %}
        <li class='photo_list_item' onClick='parent.location="{% get_view_url album %}"'>
            <a href="{% get_view_url album %}">
                {% with album.get_cover_photo as photo %}{% if photo %}<img src='{% get_thumb_url photo default_list_size %}' alt=''/><br/>{% endif %}{% endwith %}
                <div class='title'>{{ album }}</div>
            </a>
            {% if album.sortname %}<div class='sort'>({{album.sortname}} {{album.sortorder}})</div>{% endif %}
            {% if album.album_description %}<div class='desc' onClick='parent.location="{% get_view_url album %}"'>{{album.album_description|urlizetrunc:20}}</div>{% endif %}
        </li>
    {% endfor %}
    <br class="clear"/>
    </ul>
</div>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj web object default_list_size default_view_size %}

{% pagination page_obj %}

<h2>Search</h2>

<form method="post">
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>
{% endblock %}
