{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{object}}{% endblock %}

{% block content %}
<h1>{{object}} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% if object %}
{% get_permissions_from_type "add_perm" "edit_perm" "delete_perm" user object.type %}
{% if add_perm or edit_perm or delete_perm %}
<ul class="object-tools">
{% if add_perm %}
<li><a class="addlink" href="{{ object.get_create_url }}">Create</a></li>
{% endif %}
{% if edit_perm %}
<li><a class="changelink" href="{{ object.get_edit_url }}">Edit</a></li>
{% endif %}
{% if delete_perm %}
<li><a class="deletelink" href="{{ object.get_delete_url }}">Delete</a></li>
{% endif %}
</ul>
{% endif %}

{% if object.category_description %}<p>{{object.category_description|urlizetrunc:40|linebreaks}}</p>{% endif %}
{% endif %}

{%ifequal page_obj.number 1 %}
{% if object.children.all %}
    <ul class="children">
    {% for category in object.children.all %}
        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if category.category_description %}: {{category.category_description|urlizetrunc:40|truncatewords:10}}{% endif %} {% if category.sortname %}({{category.sortname}} {{category.sortorder}}){% endif %}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj links %}

{% pagination page_obj %}

{% endblock %}
