{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Dates{% endblock %}

{% block content %}

<h1>Dates</h1>

<h2>Search</h2>
<form method="post">{% csrf_token %}
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>

<h2>Dates</h2>
<ul>
{% for result in page_obj.object_list %}
<li><a href="{% url date_detail result.date %}">{{result.date}}</a></li>
{% endfor %}
</ul>

{% pagination page_obj %}

{% endblock %}
