{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ web.verbose_name_plural }}{% endblock %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block content %}

<h1>{{ web.verbose_name_plural }}</h1>

{% block tools %}
{% show_list_buttons web user %}
{% endblock %}

{% if form %}
<h2>Search</h2>
<form method="post">
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>
{% endif %}

{% show_list table page_obj.object_list web %}

{% pagination page_obj web %}

{% endblock %}
