{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{object}}{% endblock %}

{% block content %}
<h1>{{object}} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% show_view_buttons web user object %}

{% ifequal page_obj.number 1 %}
{% if user.is_staff %}
<dl class="infobox">
{% if object.first_name %}
<dt>First name</dt><dd>{{object.first_name}}</dd>
{% endif %}
{% if object.middle_name %}
<dt>Middle Name</dt><dd>{{object.middle_name}}</dd>
{% endif %}
{% if object.last_name %}
<dt>Last name</dt><dd>{{object.last_name}}</dd>
{% endif %}
{% if object.called %}
<dt>Called</dt><dd>{{object.called}}</dd>
{% endif %}
{% if object.gender %}
<dt>Sex</dt><dd>{% show_sex object.gender %}</dd>
{% endif %}
{% if object.dob %}
<dt>Date of birth</dt><dd>{{object.dob}}</dd>
{% endif %}
{% if object.dod %}
<dt>Date of death</dt><dd>{{object.dod}}</dd>
{% endif %}
{% if object.home %}
<dt>Home</dt><dd><a href="{% get_view_url object.home %}">{{object.home}}</a></dd>
{% endif %}
{% if object.work %}
<dt>Work</dt><dd><a href="{% get_view_url object.work %}">{{object.work}}</a></dd>
{% endif %}
{% if object.notes %}
<dt>Notes</dt><dd>{{object.notes|urlizetrunc:40|linebreaks}}</dd>
{% endif %}
{% if object.email %}
<dt>E-Mail</dt><dd><a href="email:{{object.email}}">{{object.email}}</a></dd>
{% endif %}
{% if object.grandparents.all %}
<dt>Grand Parents</dt><dd>
  {% for person in object.grandparents.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.father or object.mother %}
  <dt>Parents</dt><dd>
  {% if object.father %}
    <a href="{% get_view_url object.father %}">{{object.father}}</a>{% endif %}{% if object.father and object.mother %};{% endif %}
  {% if object.mother %}
    <a href="{% get_view_url object.mother %}">{{object.mother}}</a>
  {% endif %}
  </dd>
{% endif %}
{% if object.uncles_aunts.all %}
<dt>Uncles/Aunts</dt><dd>
  {% for person in object.uncles_aunts.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.spouse or object.reverse_spouses.all %}
  <dt>Spouse/Partner</dt>
  {% if object.spouse %}
  <a href="{% get_view_url object.spouse %}">{{object.spouse}}</a>
  {% endif %}
  {% if object.reverse_spouses.all %}
    ({% for person in object.reverse_spouses.all %}
      <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
    {% endfor %})
  {% endif %}
  </dd>
{% endif %}
{% if object.siblings.all %}
<dt>Siblings</dt><dd>
  {% for person in object.siblings.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.cousins.all %}
<dt>Cousins</dt><dd>
  {% for person in object.cousins.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.children.all %}
<dt>Children</dt><dd>
  {% for person in object.children.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.nephews_nieces.all %}
<dt>Nephews/Nieces</dt><dd>
  {% for person in object.nephews_nieces.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.grandchildren.all %}
<dt>Grand Children</dt><dd>
  {% for person in object.grandchildren.all %}
    <a href="{% get_view_url person %}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
</dL>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj web object %}

{% pagination page_obj web %}

{% endblock %}
