{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/forms.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Edit {{ object }}{% endblock %}

{% block content %}

<h1>Edit {{ object }} ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</h1>

<form method="post" action="{% photo_edit_url web parent page_obj.number size %}">{% csrf_token %}
<input type="hidden" name="photo_id" value="{{ object.pk }}" />
<input type="submit" name="action" value="nop"/>
<input type="submit" name="action" value="delete"/>
<input type="submit" name="action" value="regenerate"/>
<input type="submit" name="action" value="move"/>
<input type="submit" name="action" value="rotate 90"/>
<input type="submit" name="action" value="rotate 180"/>
<input type="submit" name="action" value="rotate 270"/>
<input type="submit" name="action" value="rotate auto"/>

{% if object.action %}
<ul class="messagelist">
<li>Marked action: {% show_action_with_url object.action %}</li>
</ul>
{% endif %}

<div class='photo_detail {{object.get_style}}'>
<div class='photo_detail_photo'>

<a href="{% get_thumb_url object "large" %}">
<img src="{% get_thumb_url object size %}" alt="{{ object.title }}" />
</a>
<div class="photo_detail_summary">
{% if object.description %}
{{object.description|urlizetrunc:40|linebreaks}}
{% endif %}
{% if object.photo_person_set.all %}
{% for pp in object.photo_person_set.all %}
    <a href="{% get_view_url pp.person %}">{{pp.person}}</a> ({{pp.position}}){% if not forloop.last %}, {% endif %}
{% endfor %}
{% endif %}
</div>
</div>

<div class='photo_detail_photo_detail'>
<h2>Photo Details</h2>

<dl>
{% if object.title %}
<dt>Title</dt><dd>{{object.title}}</dd>
{% endif %}
<dt>Original</dt><dd>{{object.name}} ({{object.width}}x{{object.height}})</dd>
{% if object.location %}
<dt>Location</dt><dd><a href="{% get_view_url object.location %}">{{ object.location }}</a></dd>
{% endif %}
<dt>Albums</dt><dd>
  {% for pa in object.photo_album_set.all %}
    <a href="{% get_view_url pa.album %}">{{pa.album}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Categories</dt><dd>
  {% for pc in object.photo_category_set.all %}
    <a href="{% get_view_url pc.category %}">{{pc.category}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Date &amp; time</dt><dd>
  {{ object.datetime|show_datetime:object.timezone }}
</dd>
{% if object.photographer %}
<dt>Photographer</dt><dd><a href="{% get_view_url object.photographer %}">{{object.photographer}}</a></dd>
{% endif %}
<dt>Rating</dt><dd>{{object.rating}}</dd>
{% if object.relations_1.all or object.relations_2.all or perms.spud.add_relation %}
<dt>Related photos</dt><dd>
  {% if perms.spud.add_photo_relation %}
    <ul class="object-tools">
    <li><a class="addlink" href="{{ object.get_create_photo_relation_url }}">Create</a></li>
    </ul>
  {% endif %}
  <table>
  {% for relation in object.relations_1.all %}
            <tr>
            <td><a href="{% get_view_url relation.photo_2 %}">{{ relation.desc_2 }}</a>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  {% for relation in object.relations_2.all %}
            <tr>
            <td><a href="{% get_view_url relation.photo_1 %}">{{ relation.desc_1 }}</a></td>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  </table>
</dd>
{% endif %}
<dt>Action</dt><dd>{% show_action_with_url object.action %}</dd>
</dl>
</div>

<div class='photo_detail_camera_detail'>
<h2>Camera Details</h2>

<dl>
<dt>Camera</dt><dd>{{object.camera_make}} {{object.camera_model}}</dd>
<dt>Flash</dt><dd>{{object.flash_used}}</dd>
<dt>Focal length</dt><dd> {{object.focal_length}}</dd>
<dt>Exposure</dt><dd>{{object.exposure}}</dd>
<dt>Aperture</dt><dd>{{object.aperture}}</dd>
<dt>ISO</dt><dd>{{object.iso_equiv}}</dd>
<dt>Metering Mode</dt><dd>{{object.metering_mode}}</dd>
</dl>
</div>

<br class="clear"/>
</div>

{% photo_edit_buttons page_obj %}

<div class='photo_edit'>

<div class="photo_edit_form">
{{ form.non_field_errors }}
{{ form.updates.errors }}
{{ form.updates }}
</div>

<div class="photo_edit_persons">
<h2>People</h2>
{% for person in persons %}
<a href="#" onclick="add_object('person','{{ person }}'); return false;">{{ person }}</a> {{ person.photos__count }}</br>
{% endfor %}
</div>

<div class="photo_edit_albums">
<h2>Albums</h2>
{% for album in albums %}
<a href="#" onclick="add_object('album','{{ album }}'); return false;">{{ album }}</a> {{ album.photos__count }}</br>
{% endfor %}
</div>

<div class="photo_edit_categorys">
<h2>Categories</h2>
{% for category in categorys %}
<a href="#" onclick="add_object('category','{{ category }}'); return false;">{{ category }}</a> {{ category.photos__count }}</br>
{% endfor %}
</div>

<div class="photo_edit_places">
<h2>Places</h2>
{% for place in places %}
<a href="#" onclick="add_object('place','{{ place }}'); return false;">{{ place }}</a> {{ place.photos__count }}</br>
{% endfor %}
</div>

</div>

</form>

<script type="text/javascript">
document.getElementById('id_updates').focus();
function replace_selection(ta,replace_str)
{
    var start_pos = ta.selectionStart;
    var end_pos = ta.selectionEnd;
    if (start_pos > 1 && ta.value.charAt(start_pos-1) != "\n") {
        replace_str = "\n" + replace_str
    }
    ta.value = ta.value.substr(0, start_pos) + replace_str + ta.value.substr(end_pos, ta.value.length);
    ta.selectionStart = start_pos + replace_str.length
    ta.selectionEnd = start_pos + replace_str.length
    return {start: start_pos, end: end_pos, length: replace_str.length, text: replace_str};
}
function add_object(type,value)
{
    ta = document.getElementById('id_updates');
    replace_selection(ta, "add "+type+" "+value+"\n")
    ta.focus();
}
</script>

{% endblock %}
