{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load photo %}
{% load webs %}
{% load comments %}

{% block title %}{{ object.photo }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}
{% block object_title %}{{ object.photo }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}
{% block tools %}{% show_photo_buttons user web parent page_obj.number object.photo object.size %}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
var prev_photo_url="{% photo_url_prev page_obj web parent object.size %}"
var next_photo_url="{% photo_url_next page_obj web parent object.size %}"
var prev_photo_thumb_url="{% photo_thumb_url_prev page_obj web parent object.size %}"
var next_photo_thumb_url="{% photo_thumb_url_next page_obj web parent object.size %}"
var this_photo_thumb_url="{% get_thumb_url object %}"
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/mouse.js" />
{% endblock %}

{% block object %}
{% with object.photo as photo %}
{% if photo.action %}
<ul class="messagelist">
<li>Marked action: {% show_action_with_url photo.action %}</li>
</ul>
{% endif %}

<div class='photo_container photo_detail {{photo.get_style}}'>
<div class='photo_block photo_detail_photo'>

<img id="photo" src="{% get_thumb_url object %}" alt="{{ photo.title }}" width="{{ object.width }}" height="{{ object.height }}"/>
<script type="text/javascript">
resize_photo(document.getElementById("photo"), {{ object.width }}, {{ object.height }})
</script>
<div class="photo_detail_summary">
<div class="title">{{ photo }}</div>
<div class="search">Search {% get_description parent %} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
{% if photo.photo_person_set.all %}
{% for pp in photo.photo_person_set.all %}
    <a href="{% get_view_url pp.person %}">{{pp.person}}</a> ({{pp.position}}){% if not forloop.last %}, {% endif %}
{% endfor %}
{% endif %}
{% if photo.description %}
{{photo.description|urlizetrunc:40|linebreaks}}
{% endif %}
</div>
</div>

<div class='photo_block photo_detail_photo_detail'>
<h2>Photo Details</h2>

<dl>
{% if photo.title %}
<dt>Title</dt><dd>{{photo.title}}</dd>
{% endif %}
<dt>File</dt><dd>{{photo.name}} ({{ object.width }}x{{ object.height }})</dd>
{% if photo.location %}
<dt>Location</dt><dd><a href="{% get_view_url photo.location %}">{{ photo.location }}</a></dd>
{% endif %}
<dt>Albums</dt><dd>
  {% for pa in photo.photo_album_set.all %}
    <a href="{% get_view_url pa.album %}">{{pa.album}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Categories</dt><dd>
  {% for pc in photo.photo_category_set.all %}
    <a href="{% get_view_url pc.category %}">{{pc.category}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Date &amp; time</dt><dd>
  {{ photo.datetime|show_datetime:0 }}<br/>
  {{ photo.datetime|show_datetime:photo.utc_offset }}
</dd>
{% if photo.photographer %}
<dt>Photographer</dt><dd><a href="{% get_view_url photo.photographer %}">{{photo.photographer}}</a></dd>
{% endif %}
<dt>Rating</dt><dd>{{photo.rating}}</dd>
{% if photo.relations_1.all or photo.relations_2.all or perms.spud.add_relation %}
<dt>Related photos</dt><dd>
  {% if perms.spud.add_photo_relation %}
    <ul class="object-tools">
    <li><a class="addlink" href="{% photo_relation_add_url photo %}?next={{ request.path }}">Create</a></li>
    </ul>
  {% endif %}
  <table>
  {% for relation in photo.relations_1.all %}
            <tr>
            <td><a href="{% get_photo_view_url relation.photo_2 object.size %}">{{ relation.desc_2 }}</a></td>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}?next={{ request.path }}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}?next={{ request.path }}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  {% for relation in photo.relations_2.all %}
            <tr>
            <td><a href="{% get_photo_view_url relation.photo_1 object.size %}">{{ relation.desc_1 }}</a></td>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}?next={{ request.path }}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}?next={{ request.path }}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  </table>
</dd>
{% endif %}
<dt>Action</dt><dd>{% show_action_with_url photo.action %}</dd>
</dl>
</div>

<div class='photo_block photo_detail_camera_detail'>
<h2>Camera Details</h2>

<dl>
<dt>Camera</dt><dd>{{photo.camera_make}} {{photo.camera_model}}</dd>
<dt>Flash</dt><dd>{{photo.flash_used}}</dd>
<dt>Focal length</dt><dd> {{photo.focal_length}}</dd>
<dt>Exposure</dt><dd>{{photo.exposure}}</dd>
<dt>Aperture</dt><dd>{{photo.aperture}}</dd>
<dt>ISO</dt><dd>{{photo.iso_equiv}}</dd>
<dt>Metering Mode</dt><dd>{{photo.metering_mode}}</dd>
</dl>
</div>

{% get_comment_list for photo as comment_list %}
{% if comment_list %}
<div class='photo_block photo_detail_comments'>
<h2>Comments</h2>
{% for comment in comment_list %}
    <div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
    <span class="comnum"><a id="c{{ comment.id }}" href="#c{{ comment.id }}">#{{ forloop.counter }}</a></span>
    <p><b>{% if comment.user_email %}<a href="mailto:{{ comment.user_email }}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %}</b> gave the photo a rating of {{ comment.rating }} out of 10, on {{ comment.submit_date|date:"F j, Y" }} at {{ comment.submit_date|date:"P" }}:</p>
    {{ comment.comment|urlizetrunc:40|linebreaks }}
    </div>
{% endfor %}
</div>
{% endif %}

<div class='photo_block photo_detail_add_comment'>
<h2>Post a comment</h2>
{% render_comment_form for photo %}
</div>

</div>

{% photo_pagination page_obj web parent object.size %}
{% endwith %}
{% endblock %}
