{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/forms.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Edit {{ object }}{% endblock %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block content %}

<h1>Edit {{ object }} ({{ page_obj.number }} of {{ page_obj.paginator.num_pages }})</h1>

<form method="post" action="{% photo_edit_url web parent page_obj.number size %}">{% csrf_token %}
<input type="submit" name="update_action" value="nop"/>
<input type="submit" name="update_action" value="delete"/>
<input type="submit" name="update_action" value="regenerate"/>
<input type="submit" name="update_action" value="move"/>
<input type="submit" name="update_action" value="rotate 90"/>
<input type="submit" name="update_action" value="rotate 180"/>
<input type="submit" name="update_action" value="rotate 270"/>
<input type="submit" name="update_action" value="rotate auto"/>

{% if object.action %}
<ul class="messagelist">
<li>Marked action: {% show_action_with_url object.action %}</li>
</ul>
{% endif %}

<div class='photo_detail {{object.get_style}}'>
<div class='photo_detail_photo'>

<a href="{% get_thumb_url object click_size %}">
<img src="{% get_thumb_url object size %}" alt="{{ object.title }}" />
</a>
<div class="photo_detail_summary">
{% if object.photo_person_set.all %}
{% for pp in object.photo_person_set.all %}
    <a href="{% get_view_url pp.person %}">{{pp.person}}</a> ({{pp.position}}){% if not forloop.last %}, {% endif %}
{% endfor %}
{% endif %}
{% if object.description %}
{{object.description|urlizetrunc:40|linebreaks}}
{% endif %}
</div>
</div>

<div class='photo_detail_photo_detail'>
<h2>Photo Details</h2>

<dl>
{% if object.title %}
<dt>Title</dt><dd>{{object.title}}</dd>
{% endif %}
<dt>Original</dt><dd>{{object.name}} ({{object.width}}x{{object.height}})</dd>
{% if object.location %}
<dt>Location</dt><dd><a href="{% get_view_url object.location %}">{{ object.location }}</a></dd>
{% endif %}
<dt>Albums</dt><dd>
  {% for pa in object.photo_album_set.all %}
    <a href="{% get_view_url pa.album %}">{{pa.album}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Categories</dt><dd>
  {% for pc in object.photo_category_set.all %}
    <a href="{% get_view_url pc.category %}">{{pc.category}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
<dt>Date &amp; time</dt><dd>
  {{ object.datetime|show_datetime:object.timezone }}
</dd>
{% if object.photographer %}
<dt>Photographer</dt><dd><a href="{% get_view_url object.photographer %}">{{object.photographer}}</a></dd>
{% endif %}
<dt>Rating</dt><dd>{{object.rating}}</dd>
{% if object.relations_1.all or object.relations_2.all or perms.spud.add_relation %}
<dt>Related photos</dt><dd>
  {% if perms.spud.add_photo_relation %}
    <ul class="object-tools">
    <li><a class="addlink" href="{% photo_relation_add_url object %}?next={{ request.path }}">Create</a></li>
    </ul>
  {% endif %}
  <table>
  {% for relation in object.relations_1.all %}
            <tr>
            <td><a href="{% get_photo_view_url relation.photo_2 size %}">{{ relation.desc_2 }}</a>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}?next={{ request.path }}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}?next={{ request.path }}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  {% for relation in object.relations_2.all %}
            <tr>
            <td><a href="{% get_photo_view_url relation.photo_1 size %}">{{ relation.desc_1 }}</a></td>
            {% if perms.spud.edit_photo_relation %}
            <td><a class="changelink" href="{% get_edit_url relation %}?next={{ request.path }}">Edit</a></td>
            {% endif %}
            {% if perms.spud.delete_photo_relation %}
            <td><a class="deletelink" href="{% get_delete_url relation %}?next={{ request.path }}">Delete</a></td>
            {% endif %}
            </tr>
  {% endfor %}
  </table>
</dd>
{% endif %}
<dt>Action</dt><dd>{% show_action_with_url object.action %}</dd>
</dl>
</div>

<div class='photo_detail_camera_detail'>
<h2>Camera Details</h2>

<dl>
<dt>Camera</dt><dd>{{object.camera_make}} {{object.camera_model}}</dd>
<dt>Flash</dt><dd>{{object.flash_used}}</dd>
<dt>Focal length</dt><dd> {{object.focal_length}}</dd>
<dt>Exposure</dt><dd>{{object.exposure}}</dd>
<dt>Aperture</dt><dd>{{object.aperture}}</dd>
<dt>ISO</dt><dd>{{object.iso_equiv}}</dd>
<dt>Metering Mode</dt><dd>{{object.metering_mode}}</dd>
</dl>
</div>

<br class="clear"/>
</div>

{% photo_edit_buttons page_obj %}

<div class="photo_edit" id="update_fields">
{% for field in form %}
    {% if field.is_hidden %}
            {{ field.errors }}
            {{ field }}
    {% else %}
        <div class="field">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endif %}
{% endfor %}
<br class="clear" />
</div>

{% show_update_form %}

<script type="text/javascript">
function show_fields()
{
    document.getElementById('update_fields').style.display = '';
    document.getElementById('update_command').style.display = 'none';
}
function show_command()
{
    document.getElementById('update_fields').style.display = 'none';
    document.getElementById('update_command').style.display = '';
    document.getElementById('id_updates').focus();
}
{% if form.is_bound and not form.is_valid %}
show_fields();
{% else %}
show_command();
{% endif %}
</script>

</form>

{% endblock %}
