{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load photo %}
{% load webs %}

{% block title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}
{% block object_title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}

{% block object %}
{%ifequal page_obj.number 1 %}
<div class="infobox">
    {% if object.address or object.address2 or object.city or object.zip or object.state or object.country %}
    <dl><dt>Address</dt><dd>
{% if user.is_staff %}
      {% if object.address %}{{object.address}}<br/>{% endif %}
      {% if object.address2 %}{{object.address2}}<br/>{% endif %}
{% endif %}
      {% if object.city %}{{object.city}}{% endif %}
      {% if object.zip %}{{object.zip}}{% endif %}
      {% if object.city or object.zip %}<br/>{% endif %}
      {% if object.state %}{{object.state}}{% endif %}{% if object.state and object.country %},{% endif %}
      {% if object.country %} {{object.country}}{% endif %}
    </dd></dl>
    {% endif %}
    {% if object.notes %}
    <dl><dt>Notes</dt><dd>{{object.notes|urlizetrunc:40|linebreaks}}</dd></dl>
    {% endif %}
{% if user.is_staff %}
    {% if object.work_of.all %}
    <dl><dt>Work of</dt><dd>
      {% for place in object.work_of.all %}
        <a href="{% get_view_url place %}">{{place}}</a>{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </dd></dl>
    {% endif %}
    {% if object.home_of.all %}
    <dl><dt>Home of</dt><dd>
      {% for place in object.home_of.all %}
        <a href="{% get_view_url place %}">{{place}}</a>{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </dd></dl>
    {% endif %}
{% endif %}
{% if object.url %}
<dl><dt>URL</dt><dd><a href="{{object.url}}">{{object.urldesc}}</a></dd></dl>
{% endif %}
</div>

{% if object.children.all %}
<div class="children">
    <ul class="photo_list">
    {% for place in object.children.all %}
        <li class='photo_list_item' onclick='parent.location="{% get_view_url place %}"'>
            <a href="{% get_view_url place %}">
                {% with place.get_cover_photo as photo %}{% if photo %}<img src='{% get_photo_thumb_url photo default_list_size %}' alt=''/><br/>{% endif %}{% endwith %}
                <div class='title'>{{ place }}</div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj web object default_list_size default_view_size %}

{% pagination page_obj %}
{% endblock %}
