{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{object}}{% endblock %}

{% block extrahead %}{{ block.super }}
{{ media }}
{% endblock %}

{% block content %}
<h1>{{object}} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% show_view_buttons web user object %}

{%ifequal page_obj.number 1 %}
<dl class="infobox">
    {% if object.address or object.address2 or object.city or object.zip or object.state or object.country %}
    <dt>Address</dt><dd>
{% if user.is_staff %}
      {% if object.address %}{{object.address}}<br/>{% endif %}
      {% if object.address2 %}{{object.address2}}<br/>{% endif %}
{% endif %}
      {% if object.city %}{{object.city}}{% endif %}
      {% if object.zip %}{{object.zip}}{% endif %}
      {% if object.city or object.zip %}<br/>{% endif %}
      {% if object.state %}{{object.state}}{% endif %}{% if object.state and object.country %},{% endif %}
      {% if object.country %} {{object.country}}{% endif %}
    </dd>
    {% endif %}
    {% if object.notes %}
    <dt>Notes</dt><dd>{{object.notes|urlizetrunc:40|linebreaks}}</dd>
    {% endif %}
{% if user.is_staff %}
    {% if object.work_of.all %}
    <dt>Work of</dt><dd>
      {% for place in object.work_of.all %}
        <a href="{% get_view_url place %}">{{place}}</a>{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </dd>
    {% endif %}
    {% if object.home_of.all %}
    <dt>Home of</dt><dd>
      {% for place in object.home_of.all %}
        <a href="{% get_view_url place %}">{{place}}</a>{% if not forloop.last %}; {% endif %}
      {% endfor %}
    </dd>
    {% endif %}
{% endif %}
{% if object.url %}
<dt>URL</dt><dd><a href="{{object.url}}">{{object.urldesc}}</a></dd>
{% endif %}
</dl>

{% if object.children.all %}
<div class="children">
    <ul class="photo_list">
    {% for place in object.children.all %}
        <li class='photo_list_item' onClick='parent.location="{% get_view_url place %}"'>
            <a href="{% get_view_url place %}">
                {% with place.get_cover_photo as photo %}{% if photo %}<img src='{% get_thumb_url photo "thumb" %}' alt=''/><br/>{% endif %}{% endwith %}
                <div class='title'>{{ place }}</div>
            </a>
        </li>
    {% endfor %}
    <br class="clear"/>
    </ul>
</div>
{% endif %}
{% endifequal %}

{% show_photo_list page_obj web object %}

{% pagination page_obj web %}

<h2>Search</h2>

<form method="post">{% csrf_token %}
<table>{{ form.as_table }}</table>
<input type="submit" />
</form>

{% endblock %}
