{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}
{% load comments %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
{% if page_obj %}
{% pagination_with_links page_obj links %}
{% endif %}

<h1>{{ object }}</h1>

{% get_permissions_from_type "add_perm" "edit_perm" "delete_perm" user object.type %}
{% if edit_perm or delete_perm %}
<ul class="object-tools">
{% if edit_perm %}
<li><a class="changelink" href="{{ object.get_edit_url }}">Edit</a></li>
{% endif %}
{% if delete_perm %}
<li><a class="deletelink" href="{{ object.get_delete_url }}">Delete</a></li>
{% endif %}
</ul>
{% endif %}

<dl class="infobox">
<dt>Name</dt><dd>{{object.name}}</dd>
{% if object.update_title %}
<dt>Update Title</dt><dd>{{object.update_title}}</dd>
{% endif %}
{% if object.update_photographer %}
<dt>Update Photographer</dt><dd><a href="{{ object.update_photographer.get_absolute_url }}">{{object.update_photographer}}</a></dd>
{% endif %}
{% if object.update_location %}
<dt>Update Location</dt><dd><a href="{{ object.update_location.get_absolute_url }}">{{ object.update_location }}</a></dd>
{% endif %}
{% if object.update_view %}
<dt>Update View</dt><dd>{{object.update_view}}</dd>
{% endif %}
{% if object.update_description %}
<dt>Update Description</dt><dd>{{object.update_description|urlizetrunc:40|linebreaks}}</dd>
{% endif %}
{% if object.update_timezone %}
<dt>Update Timezone</dt><dd>{{object.update_timezone}}</dd>
{% endif %}
{% if object.update_comment %}
<dt>Update Comment</dt><dd>{{object.update_comment|urlizetrunc:40|linebreaks}}</dd>
{% endif %}
{% if object.update_status %}
<dt>Update Status</dt><dd>{% show_status_with_link object.update_status %}</dd>
{% endif %}
{% if object.add_albums.all %}
<dt>Add Albums</dt><dd>
  {% for album in object.add_albums.all %}
    <a href="{{ album.get_absolute_url }}">{{album}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.delete_albums.all %}
<dt>Delete Albums</dt><dd>
  {% for album in object.delete_albums.all %}
    <a href="{{ album.get_absolute_url }}">{{album}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.add_categorys.all %}
<dt>Add Categories</dt><dd>
  {% for category in object.add_categorys.all %}
    <a href="{{ category.get_absolute_url }}">{{category}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.delete_categorys.all %}
<dt>Delete Categories</dt><dd>
  {% for category in object.delete_categorys.all %}
    <a href="{{ category.get_absolute_url }}">{{category}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.add_persons.all %}
<dt>Add Persons</dt><dd>
  {% for person in object.add_persons.all %}
    <a href="{{ person.get_absolute_url }}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.delete_persons.all %}
<dt>Delete Persons</dt><dd>
  {% for person in object.delete_persons.all %}
    <a href="{{ person.get_absolute_url }}">{{person}}</a>{% if not forloop.last %}; {% endif %}
  {% endfor %}
</dd>
{% endif %}
{% if object.rotate %}
<dt>Rotate</dt><dd>{{ object.rotate }} degrees clockwise</dd>
{% endif %}
</dl>

{% endblock %}
