{% extends "django_webs/object_detail.html" %}
{% load i18n %}
{% load photo %}
{% load webs %}

{% block title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}
{% block object_title %}{{ object }} page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblock %}

{% block object %}
<div class="infobox">
{% for bit in criteria %}
<dl><dt>{{bit.key}}</dt>
<dd>{{bit.value}}</dd></dl>
{% endfor %}
</div>

{% show_photo_list page_obj web object default_list_size default_view_size %}

{% pagination page_obj %}
{% endblock %}
