{% extends "base_site.html" %}
{% load i18n %}
{% load photo %}

{% block stylesheet %}{{ MEDIA_URL }}css/photolists.css{% endblock %}

{% block breadcrumbs %}{% show_breadcrumbs breadcrumbs %}{% endblock %}

{% block title %}Search results{% endblock %}

{% block content %}
<h1>Search results page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h1>

{% show_view_buttons web user object %}

<dl class="infobox">
{% for bit in criteria %}
<dt>{{bit.key}}</dt>
<dd>{{bit.value}}</dd>
{% endfor %}
</dl>

{% show_photo_list page_obj web object default_list_size default_view_size %}

{% pagination page_obj web %}

{% endblock %}
