{% load i18n %}
{% load photo %}

<ul class='photo_list'>

{% for photo in page_obj.object_list %}
<li class='photo_list_item {{photo.get_style}}' onClick='parent.location="{% photo_detail_url_by_page web parent page_obj forloop.counter0 %}"'>
<a href='{% photo_detail_url_by_page web parent page_obj forloop.counter0 %}'><img src='{% get_thumb_url photo "thumb" %}' alt='{{photo}}'/>
<div class='title'>{{photo}}</div></a>
<div class='sort'>{{ photo.datetime|show_date:photo.timezone }}</div>
{% if photo.description %}<div class='desc'>{{photo.description|urlizetrunc:20}}</div>{% endif %}
</li>
{% endfor %}

<br class="clear"/>
</ul>

