<div class='photo_container photo_edit' id="update_command">

<div class="photo_block photo_edit_form">
{{ update_form.non_field_errors }}
{{ update_form.updates.errors }}
{{ update_form.updates }}
<br/><select id="command" onchange="document.getElementById('value').focus();">
<option>add person</option>
<option>add album</option>
<option>add category</option>
<option>delete person</option>
<option>delete album</option>
<option>delete category</option>
<option>set place</option>
<option>set person</option>
<option>set photographer</option>
<option>set title</option>
<option>set description</option>
<option>set datetime</option>
<option>set timezone</option>
</select>
<input type="text" id="value"/>
<a href="#" onclick="add_custom_command(); return false" accesskey="a">Add</a><br/>
</div>

{% if persons %}
<div class="photo_block photo_edit_persons">
<h2>People</h2>
{% for person in persons %}
<a href="#" onclick="add_command('add person {{ person|escapejs }}'); return false;">{{ person }}</a> {{ person.photos__count }}<br/>
{% endfor %}
</div>
{% endif %}

{% if albums %}
<div class="photo_block photo_edit_albums">
<h2>Albums</h2>
{% for album in albums %}
<a href="#" onclick="add_command('add album {{ album|escapejs }}'); return false;">{{ album }}</a> {{ album.photos__count }}<br/>
{% endfor %}
</div>
{% endif %}

{% if categorys %}
<div class="photo_block photo_edit_categorys">
<h2>Categories</h2>
{% for category in categorys %}
<a href="#" onclick="add_command('add category {{ category|escapejs }}'); return false;">{{ category }}</a> {{ category.photos__count }}<br/>
{% endfor %}
</div>
{% endif %}

{% if places %}
<div class="photo_block photo_edit_places">
<h2>Places</h2>
{% for place in places %}
<a href="#" onclick="add_command('set place {{ place|escapejs }}'); return false;">{{ place }}</a> {{ place.photos__count }}<br/>
{% endfor %}
</div>
{% endif %}

<br class="clear"/>
</div>

<script type="text/javascript">
function replace_selection(ta,replace_str)
{
    var start_pos = ta.selectionStart;
    var end_pos = ta.selectionEnd;
    if (start_pos > 1 &amp;&amp; ta.value.charAt(start_pos-1) != "\n") {
        replace_str = "\n" + replace_str
    }
    ta.value = ta.value.substr(0, start_pos) + replace_str + ta.value.substr(end_pos, ta.value.length);
    ta.selectionStart = start_pos + replace_str.length
    ta.selectionEnd = start_pos + replace_str.length
    return {start: start_pos, end: end_pos, length: replace_str.length, text: replace_str};
}
function add_command(command)
{
    ta = document.getElementById('id_updates');
    replace_selection(ta, command+"\n")
    ta.focus();
}
function add_custom_command()
{
    ta = document.getElementById('id_updates');
    command = document.getElementById('command');
    value = document.getElementById('value');
    add_command(command.value+" "+value.value);
}
</script>
