{% extends "main.html" %}
{% load admin_static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block breadcrumbs %}<div id="breadcrumbs">No breadcrumbs</div>{% endblock %}

{% block usertools %}
<div id="user-tools"></div>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ajax_select.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fileupload-ui.css' %}" />

<script type="text/javascript" src="{% static 'js/load-image.js' %}" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}" />
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}" />
<script type="text/javascript" src="{% static 'js/jquery.blockUI.js' %}" />
<script type="text/javascript" src="{% static 'js/jquery.fileupload.js' %}" />
<script type="text/javascript" src="{% static 'js/jquery.fileupload-ui.js' %}" />
<script type="text/javascript" src="{% static 'js/jcookie.js' %}" />
<script type="text/javascript" src="{% static 'js/showdown.js' %}" />

<script type="text/javascript" src="{% static 'js/urls.js' %}" />
<script type="text/javascript" src="{% static 'js/base.js' %}" />
<script type="text/javascript" src="{% static 'js/dialog.js' %}" />
<script type="text/javascript" src="{% static 'js/infobox.js' %}" />
<script type="text/javascript" src="{% static 'js/session.js' %}" />
<script type="text/javascript" src="{% static 'js/generic.js' %}" />
<script type="text/javascript" src="{% static 'js/photo.js' %}" />
<script type="text/javascript" src="{% static 'js/album.js' %}" />
<script type="text/javascript" src="{% static 'js/category.js' %}" />
<script type="text/javascript" src="{% static 'js/place.js' %}" />
<script type="text/javascript" src="{% static 'js/person.js' %}" />
<script type="text/javascript" src="{% static 'js/feedback.js' %}" />
<script type="text/javascript" src="{% static 'js/upload.js' %}" />
<script type="text/javascript" src="{% static 'js/spud.js' %}" />

{% endblock %}

{% block bodyattrs %}onload="{{ onload }}"{% endblock %}

{% block content %}
<div id="content-main">
    <noscript>This website requires JavaScript. Every time you view this page without JavaScript a small cute kitten dies.</noscript>
</div>
{% endblock %}
